<!DOCTYPE html>
    <html>
      <head>
        <title>Account</title>
        <link rel="stylesheet" href="../resources/css/main.css">
        <link rel="stylesheet" href="../resources/css/account.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
      <body>
        <!--This is the section for the navbar. Make sure to include on all html pages.-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
          <a class="navbar-brand" href="https://www.colorado.edu/" target="_blank">
            <img class="rounded-circle" src="../resources/images/favicon.ico" alt="" width="30" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="home">Lost & Found</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>
            </ul>
          <div class="form-inline my-2 my-lg-0" style="float:right; padding:17px;">
                <br>
                <p style="margin-top:17px;">
                    Welcome, <%= message %>!
                </p>
              </div>
          <div class="form-inline my-2 my-lg-0" style="margin-right:8px;">
          <a href="account">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Account</button>
          </a>
          </div>

          <% if(userAdmin) { %>
            <div class="form-inline my-2 my-lg-0" style="margin-right:8px;">
              <a href="manage">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Manage Users</button>
              </a>
            </div>          
          <% }; %>

          <div class="form-inline my-2 my-lg-0">
            <form id="logoutForm" action="/logout" method="GET">
              <button form="logoutForm" class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
            </form>
          </div>
          </div>
        </nav>
        <!--End Navbar section-->

        <div class="body_content">
          <div class="jumbotron" style="max-width:1100px; height:500px; margin-left:auto; margin-right:auto;">
            <h1 class="display-4"><center>Account Information</h1></center>
            <hr class="my-5">
            <div style="float:left; margin-left:12%;">
            <p style="font-size:18px;"><b> Name:</b></p><p style="margin-top:-12px;"><%= message %></p>
            <p style="font-size:18px; margin-top:55px;"><b> Password:</b></p><p id="currPass" style="margin-top:-12px;"><%= db_data3[0].Password %></p>
            <a class="btn btn-primary btn-sm" href="#" role="button" data-toggle="modal" data-target="#editPasswordModal" style="background-color:#BC8E48; border-color:#BC8E48; margin-top:-19px; font-size:12px;">Change</a>
            </div>
            <div style="float:right; margin-right:12%;">
            <p style="font-size:18px;text-align:right;"><b> Email:</b></p><p style="margin-top:-12px;"> <%= message2 %></p>
            <p style="font-size:18px; margin-top:55px;text-align:right;"><b> Phone number:</b></p><p style="margin-top:-12px;text-align:right;" ><%= db_data3[0].Phone %></p>
            <a class="btn btn-primary btn-sm" href="#" role="button" data-toggle="modal" data-target="#editPhoneModal" style="background-color:#BC8E48; border-color:#BC8E48; margin-top:-10px; font-size:12px; float:right;">Update</a> </p>

            </p></div>
          </div>
      </div>
  

      <div class="jumbotron" style="width:1100px; margin-left:auto; margin-right:auto;">
        <div class="card-columns" style="column-count: 1; width:1100px; margin-left:auto; margin-right:auto;">
                <div class="active float-left" style="width:517px;">
                    <h1 class="display-4" style="margin-left:-45px;"> <center>Active listings</h1></center><br>
                    <% if(db_data.length){ for(var i = 0;i < db_data.length;i++) { %>
                        <div class="card" id="item<%=(i+1)%>" style="width:495px; margin-left:-7px;"> 
                            <div class="row no-gutters">
                            <div class="col" style=" padding-left:8%; margin-left:auto; width:auto; margin-right:auto;">
                            <br>
                            <h5 class="card-title"> <%= db_data[i].Type%> <a href="#" onclick="myFunction(<%= db_data[i].Listing_ID %>)" data-toggle="modal" data-target="#editTypeModal" style="color:blue; text-decoration: underline; font-size:12px;">Edit</a></h5> 
                            <p class="card-text">Description:  <%= db_data[i].Item_Description%> <a href="#" onclick="myFunction(<%= db_data[i].Listing_ID %>)" data-toggle="modal" data-target="#editDescriptionModal" style="color:blue; text-decoration: underline; font-size:12px;">Edit</a></p>
                            <p class="card-text">Date Found:  <%= db_data[i].Date_Found%> <a href="#" onclick="myFunction(<%= db_data[i].Listing_ID %>)" data-toggle="modal" data-target="#editDateFoundModal" style="color:blue; text-decoration: underline; font-size:12px;">Edit</a></p>
                            <p class="card-text">Location Found: <%= db_data[i].Location_Found%> <a href="#" onclick="myFunction(<%= db_data[i].Listing_ID %>)" data-toggle="modal" data-target="#editLocationFoundModal" style="color:blue; text-decoration: underline; font-size:12px;">Edit</a></p>
                            <p class="card-text">Date Returned: <%= db_data[i].Date_Returned%> <a href="#" onclick="myFunction(<%= db_data[i].Listing_ID %>)" data-toggle="modal" data-target="#editDateReturnedModal" style="color:blue; text-decoration: underline; font-size:12px;">Edit</a></p>
                            <p class="card-text">Location Returned:  <%= db_data[i].Location_Returned%> <a href="#" onclick="myFunction(<%= db_data[i].Listing_ID %>)" data-toggle="modal" data-target="#editLocationReturnedModal" style="color:blue; text-decoration: underline; font-size:12px;">Edit</a></p>
                            <p class="card-text"><small class="text-muted">Posted  <%= db_data[i].Date_Posted%> </small></p>
                            <br>
                            <% if(userAdmin == 1) { %>
                            <div style="float:right; margin-right:8%;">
                              <h6><b>Has this item been claimed?</b></h6>
                              <br>
                              <form id="itemClaimedForm" action="/item_claimed" method="POST" style="float:left;">
                                  <input type="checkbox" id="yes" name="activeListing" value="Yes">
                                  <label for="yes" style="color:gray; font-size:14px; padding-top:3px;"><b>Yes, move to inactive status!</b></label><br>
                                  <input type="hidden" id="inactiveItem" name="inactiveItem" class="hiddenValue"/>
                                  <button type="submit" class="btn btn-primary" form="itemClaimedForm" onclick="myFunction(<%= db_data[i].Listing_ID %>); alertFunc();" style="background-color:#BC8E48; border-color:#BC8E48; float:right;">Submit</button>
                                  <br><br>
                              </form>
                              <br>
                              <a href="#" onclick="myFunction(<%= db_data[i].Listing_ID %>)" data-toggle="modal" data-target="#deleteItemModal" style="float:right; margin-top:20px; margin-right:3%;">Delete Listing</a>
                            </div>
                            <% }; %> 
                            </div>
                            </div>
                            <br>
                          </div>
                          <% } %>
                          <% }; %>
                    </div>
                        
                        <div class="past float-right" style="width:515px; margin-right:40px;">
                            <h1 class="display-4" style="margin-right:20px;"> <center>Inactive listings</h2></center><br>
                                <% if(db_data2.length){ for(var i = 0;i < db_data2.length;i++) { %>
                                    <div class="card" id="item<%=(i+1)%>" style="width:495px;"> 
                                        <div class="row no-gutters">
                                        <div class="col"  style=" padding-left:8%; margin-left:auto; width:auto; margin-right:auto;">
                                        <br>
                                        <h5 class="card-title"> <%= db_data2[i].Type%> </h5>
                                        <p class="card-text">Description:  <%= db_data2[i].Item_Description%> </p>
                                        <p class="card-text">Date Found:  <%= db_data2[i].Date_Found%> </p>
                                        <p class="card-text">Location Found: <%= db_data2[i].Location_Found%> </p>
                                        <p class="card-text">Date Returned: <%= db_data2[i].Date_Returned%> </p>
                                        <p class="card-text">Location Returned:  <%= db_data2[i].Location_Returned%> </p>
                                        <p class="card-text"><small class="text-muted">Posted  <%= db_data2[i].Date_Posted%> </small></p>
                                        <p class="card-text"><small class="text-muted"><b>Claimed!</b></small></p>
                                        <br>
                                        <% if(userAdmin == 1) { %>
                                        <a href="#" onclick="myFunction(<%= db_data2[i].Listing_ID %>)" data-toggle="modal" data-target="#restoreItemModal" style="float:right; margin-right:20px;">Restore Listing</a>
                                        <% }; %>
                                      </div>
                                        </div>
                                        <br>
                                        </div>
                                        <% } %>
                                        <% }; %>
                        </div>
              </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="editTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Item Name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="editType" action="/edit_type" method="POST" onsubmit="return validateType()">
                        <div class="modal-body">
                          <div class="form-group">
                            <h6>Item Name</h6> <h6 style="color:red">*</h6>
                            <input type="text" id="itemName" class="form-control" name="itemName">
                            <input type="hidden" id="listingID_Type" name="listingID_Type" class="hiddenValue"/>
                          </div>
                          
                            <div style="float:right;">
                                <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editType" name="edit_type_button" value = "Submit Changes" class="btn btn-primary"></input>
                                <br><br>
                            </div>
            </form>
                        </div>
          </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="editDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Item Description</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="editDescription" action="/edit_description" method="POST" onsubmit="return validateDescription()">
                            <div class="modal-body">
                              <div class="form-group">
                                <h6>Item Description</h6> <h6 style="color:red">*</h6>
                                <input type="text" id="itemDesc" class="form-control" name="itemDesc">
                                <input type="hidden" id="listingID_Desc" name="listingID_Desc" class="hiddenValue"/>
                              </div>
                              
                                <div style="float:right;">
                                    <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                    <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editDescription" name="edit_desc_button" value = "Submit Changes" class="btn btn-primary"></input>
                                    <br><br>
                                </div>
                </form>
                            </div>
              </div>
            </div>
        </div>

            <!-- Modal -->
    <div class="modal fade" id="editDateFoundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Date Found</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="editDateFound" action="/edit_date_found" method="POST" onsubmit="return validateDateFound()">
                        <div class="modal-body">
                          <div class="form-group">
                            <h6>Date Found</h6> <h6 style="color:red">*</h6>
                            <input type="text" id="dateFound" class="form-control" name="dateFound">
                            <input type="hidden" id="listingID_DateFound" name="listingID_DateFound" class="hiddenValue"/>
                          </div>
                          
                            <div style="float:right;">
                                <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editDateFound" name="edit_date_found__button" value = "Submit Changes" class="btn btn-primary"></input>
                                <br><br>
                            </div>
            </form>
                        </div>
          </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="editLocationFoundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Location Found</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="editLocFound" action="/edit_location_Found" method="POST" onsubmit="return validateLocFound()">
                            <div class="modal-body">
                              <div class="form-group">
                                <h6>Location Found</h6> <h6 style="color:red">*</h6>
                                <input type="text" id="locFound" class="form-control" name="locFound">
                                <input type="hidden" id="listingID_LocFound" name="listingID_LocFound" class="hiddenValue"/>
                              </div>
                              
                                <div style="float:right;">
                                    <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                    <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editLocFound" name="edit_loc_found_button" value = "Submit Changes" class="btn btn-primary"></input>
                                    <br><br>
                                </div>
                </form>
                            </div>
              </div>
            </div>
        </div>

            <!-- Modal -->
    <div class="modal fade" id="editDateReturnedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Date Returned</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="editDateReturned" action="/edit_date_returned" method="POST" onsubmit="return validateDateRet()">
                        <div class="modal-body">
                          <div class="form-group">
                            <h6>Date Returned</h6> <h6 style="color:red">*</h6>
                            <input type="text" id="dateReturned" class="form-control" name="dateReturned">
                            <input type="hidden" id="listingID_DateRet" name="listingID_DateRet" class="hiddenValue"/>
                          </div>
                          
                            <div style="float:right;">
                                <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editDateReturned" name="edit_date_ret_button" value = "Submit Changes" class="btn btn-primary"></input>
                                <br><br>
                            </div>
            </form>
                        </div>
          </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="editLocationReturnedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Location Returned</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="editLocationReturned" action="/edit_location_returned" method="POST" onsubmit="return validateLocRet()">
                            <div class="modal-body">
                              <div class="form-group">
                                <h6>Location Returned</h6> <h6 style="color:red">*</h6>
                                <input type="text" id="locationReturned" class="form-control" name="locationReturned">
                                <input type="hidden" id="listingID_LocRet" name="listingID_LocRet" class="hiddenValue"/>
                              </div>
                              
                                <div style="float:right;">
                                    <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                    <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editLocationReturned" name="edit_loc_ret_button" value = "Submit Changes" class="btn btn-primary"></input>
                                    <br><br>
                                </div>
                </form>
                            </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="deleteListing" action="/delete_item" method="POST" onsubmit="return validateDelete()">
                            <div class="modal-body">
                              <div class="form-group">
                                <h6>Are you sure? This action cannot be undone.</h6><br>
                                <input type="hidden" id="deleteItem" name="deleteItem" class="hiddenValue"/>
                              </div>
                              
                                <div style="float:right;">
                                    <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                    <input type="submit" id = "deleteListingID" style="background-color:#BC8E48; border-color:#BC8E48;" form="deleteListing" name="delete_button" value = "Delete" class="btn btn-primary"></input>
                                    <br><br>
                                </div>
                </form>
                            </div>
              </div>
            </div>
        </div>


        <div class="modal fade" id="restoreItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Restore Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="restoreListing" action="/restore_item" method="POST">
                            <div class="modal-body">
                              <div class="form-group">
                                <h6>Are you sure?</h6><br>
                                <input type="hidden" id="restoreItem" name="restoreItem" class="hiddenValue"/>
                              </div>
                              
                                <div style="float:right;">
                                    <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                    <input type="submit" id = "restoreListingID" onclick="validateRestore();" style="background-color:#BC8E48; border-color:#BC8E48;" form="restoreListing" name="restore_button" value = "Restore" class="btn btn-primary"></input>
                                    <br><br>
                                </div>
                </form>
                            </div>
              </div>
            </div>
        </div>

        <!--Edit User Account Information Modals:-->
        <div class="modal fade" id="editPhoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Phone Number</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="editPhone" action="/edit_phone" method="POST" onsubmit="return validatePhone()">
                          <div class="modal-body">
                            <p style="font-size:13px; color:red">*Required field</p>
                            <div class="form-group">
                              <h6>Phone Number</h6> <h6 style="color:red">*</h6>
                              <input type="text" id="phonenumber" class="form-control" name="phonenumber">
                            </div>
                            
                              <div style="float:right;">
                                  <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                  <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editPhone" name="edit_phone__button" value = "Submit Changes" class="btn btn-primary"></input>
                                  <br><br>
                              </div>
              </form>
                          </div>
            </div>
          </div>
      </div>


      <div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="editPassword" action="/edit_password" method="POST" onsubmit="return validatePassword()">
                        <div class="modal-body">
                          <p style="font-size:13px; color:red">*Required field</p>
                          <div class="form-group">
                            <h6>Current Password</h6> <h6 style="color:red">*</h6>
                            <input type="password" id="pword_verify" class="form-control" name="pword_verify">
                          </div>
                          <br>
                          <div class="form-group">
                            <h6>New Password</h6> <h6 style="color:red">*</h6>
                            <input type="password" id="pword" class="form-control" name="pword">
                          </div>
                          <div class="form-group">
                            <h6>Confirm New Password</h6> <h6 style="color:red">*</h6>
                            <input type="password" id="pword_conf" class="form-control" name="pword_conf">
                          </div>
                          
                            <div style="float:right;">
                                <button type="button" style="background-color:#000000;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                
                                <input type="submit" style="background-color:#BC8E48; border-color:#BC8E48;" form="editPassword" name="edit_password__button" value = "Submit Changes" class="btn btn-primary"></input>
                                <br><br>
                            </div>
            </form>
                        </div>
          </div>
        </div>
    </div>

        <div class="footer">
          <a style="color:white;" href="https://www.colorado.edu/" target="_blank">University of Colorado Boulder</a>
        </div>
        <script type="text/javascript" src="../editListing.js"></script>
        <script type="text/javascript" src="../editAccount.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


      </body>
    </html>